<nav class="activity-tabs">
  <a href="#/activity" class="user-activity-tab active"><i class="fa fa-heartbeat fa-fw fa-2x"></i></a>
  <a href="#/add-activity" class="add-activity-tab"><i class="fa fa-plus fa-fw fa-2x"></i></a>
</nav>
<section class="user-activity active">
  <h3>title</h3>
  <p class="activity-data">number_of units on date</p>
  <footer>
    <button class="add-to">+</button>
    <button class="edit-activity">edit</button>
</section>
<form class="add-activity">
  <fieldset class="activity-title">
    <label for="activity-title">activity:</label>
    <input type="text" id="activity-title">
  </fieldset>
  <fieldset class="activity-amount">
    <label for="activity-amount">amount:</label>
    <input type="number" id="activity-amount">
    <label for="activity-units">select unit:</label>
    <select name="activity-units">
      <option value="miles">miles</option>
      <option value="minutes">minutes</option>
      <option value="reps">reps</option>
      <option value="hours">hours</option>
    </select>
  </fieldset>
  <fieldset class="activity-date">
    <label for="activity-date">date of activity:</label>
    <input type="date" id="activity-date">
  </fieldset>
  <footer>
    <button type="submit">add activity</button>
  </footer>
</form>
