<section class="activities">
  <nav class="activity-tabs">
    <a href="#/activity" class="user-activity-tab active"><i class="fa fa-heartbeat fa-fw fa-2x"></i></a>
    <a href="#/add-activity" class="add-activity-tab"><i class="fa fa-plus fa-fw fa-2x"></i></a>
  </nav>
  <section class="user-activity panel active" ng-repeat="activity in activities">
    <h2><a href="#/chart">{{activity.title}}</a></h2>
    <p class="activity-data">{{activity.number_of}} {{activity.units}} on {{activity.date}}</p>
    <footer>
      <button class="add-to">+</button>
      <button class="edit-activity">edit</button>
    </footer>
  </section>
  <!-- <form class="add-activity panel" id="act" ng-controller="" ng-submit="addAct()">
    <h2>add new activity</h2>
    <fieldset class="activity-title">
      <label for="activity-title">activity:</label>
      <input type="text" id="activity-title" placeholder="name of activity" ng-model="act.title">
    </fieldset>
    <fieldset class="activity-amount">
      <label for="activity-amount">amount:</label>
      <input type="number" id="activity-amount" placeholder="enter number of laps swam, miles run, ect." ng-model="act.number_of">
      <label for="activity-units">select unit:</label>
      <input type="text" id="activity-units" placeholder="miles, minutes, reps, etc." ng-model="act.units">
    </fieldset>
    <fieldset class="activity-date">
      <label for="activity-date">date of activity:</label>
      <input type="date" id="activity-date" ng-model="act.date">
    </fieldset>
    <footer>
      <button type="submit"><a href="#/activity">add activity</button>
    </footer>
  </form> -->
</section>
